<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku = ".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="OrclConnect_172" value="User ID=gmcccgis;Password=gmcccgis;Data Source=ORCL_172;"/>
    <!--
    <add key="OrclConnectAnalyst" value="User ID=ccntbpm_clear;Password=ccntbpm_clear;Data Source=ORCL;"/>
    -->
    <add key="OrclConnect_Local" value="User ID=CCNTBPM_KJ;Password=CCNTBPM_KJ;Data Source=ORCL;"/>
  </appSettings>
</configuration>
